<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="DemoBlaze Test Suite" verbose="1">
    <listeners>
        <listener class-name="com.demoblaze.utility.ExtentReporterNG" />
    </listeners>

    <test name="Home Test">
    <classes>
        <class name="com.demoblaze.HomeTest"/>
    </classes>
</test>
</suite>